<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{{ .Title }} – {{ .Site.Title }}</title>
      
      {{ $options := (dict "targetPath" "master.css" "outputStyle" "compressed" "enableSourceMap" true "includePaths" (slice "node_modules/myscss")) }}
      {{ $style := resources.Get "scss/master.scss" | resources.ToCSS $options }}
      
      <link rel="stylesheet" href="{{ $style.Permalink }}" />
   </head>
   <body>