<nav class="top-bar">
   <div class="menu-toggle">
      <div class="bars">
         <div class="bar"></div>
         <div class="bar"></div>
         <div class="bar"></div>
      </div>
   </div>
</nav>

<aside class="sidebar">
   <h2>
      {{ .Site.Title }}
   </h2>

   <ul>
      {{ $current := . }}
      {{ range .Site.Menus.main }}
      {{ $active := (eq $current.RelPermalink .URL) | or (eq .Name $current.Title) }}
         <li class="sidebar-link{{ if $active }} active{{ end }}">
            <a title="{{ .Name }}" href="{{ .URL }}">
               {{ .Name }}
            </a>
         </li>
      {{ end }}
   </ul>
</aside>