{{ partial "head.html" . }}

{{ partial "sidebar.html" . }}

<div class="page-content">
   <h1>
      Home
   </h1>
   
   <p>
      Dies ist eine Anleitung, die die Basics des Entickeln mit <b>html</b> und <b>css</b> erklärt. Diese beiden Sprachen sind im Einsatz, wenn es darum geht, Websites zu bauen, strukturieren und einen einen schönen Style zu verpassen. 
   </p>
   <p>
      Fehlt was? Schreib mir an <a href="mailto:moin@linuscodes.com">moin@linuscodes.com</a>
   </p>

   <p>
      <i>
         Diese Anleitung baut auf einer von Nico Albers verfassten, ersten Version auf.
      </i>
   </p>

   {{ partial "pagination-footer.html" . }}
</div>

{{ partial "footer.html" . }}